.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: white;
    z-index: 10;

}
.navbar div{
    flex-shrink: 0;
}
.navbar h3{
    margin: 0px;
    padding: auto;
}
.navbar .left{

    display: flex;
    
    width: 500px;
    justify-content: space-between;
    align-items: center;
}

.navbar .right{
    display: flex;
    padding-right: 70px;
    margin-left: 100px;
    width: 250px;
    justify-content: space-between;
    align-items: center;

}