.ProductDetails-container .box1{
    padding-top: 200px;
    display: flex;
    justify-content: center;
}
.ProductDetails-container .box1 .product-image{
    margin-right: 100px;
}
.ProductDetails-container .box1 .product-details{
    width: 500px;
}